* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 98vh;
}

.title {
    background-image: url(img/codioful-formerly-gradienta-m_7p45JfXQo-unsplash.jpg);
    background-size: cover;
}

.title.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.signup.column {
    display: flex;
    flex-direction: column;
    flex: 2;
}