@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Patua One', cursive;
    background-color: #fbfbfb;
}

form {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

form > div > div {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    margin: inherit;
}

label {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

input {
    height: 2rem;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}
    input:focus {
        outline: none; 
        border: 1px solid #4D90FE;
        box-shadow: 1px 1px 5px #888888;
    }

button {
    font-family: 'Patua One', cursive;
    font-size: 1rem;
    padding: 10px 40px;
    margin: 30px 0px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #888888;
    background-color: #b40ac8;
    color: #ffffff;
    cursor: pointer;
}

.row {
    display: flex;
    height: 100vh;
}

.text {
    display: flex;
    flex-direction: column;
    width: 58%;
    margin: 40px 0px;
}

.title.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(img/codioful-formerly-gradienta-m_7p45JfXQo-unsplash.jpg);
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}

.signup.column {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 40px;
}

.title > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 9rem;
    text-align: center;
}

div > a {
    text-decoration: none;
}


.title > p, p > a{
    font-size: 1rem;
    color: rgba(255, 255, 255, 1); 
}

#entry {
    background-color: #ffffff;
    box-shadow: 0px 5px 10px #cccccc;
    padding: 0px 40px;
    margin: 0 -40px;
}

#column-left {
    margin-right: 40px;
}

#column-left, #column-right {
    flex-basis: 25%;
}