@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Patua One', cursive;
    background-color: #fbfbfb;
}

form {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

form > div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

.row {
    display: flex;
    height: 100vh;
}

.text {
    display: flex;
    flex-direction: column;
    width: 58%;
    margin-top: 125px
}

.title.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(img/codioful-formerly-gradienta-m_7p45JfXQo-unsplash.jpg);
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}

.signup.column {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 50px;
}

.title > h1 {
    font-size: 4rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}


.title > p, p > a{
    font-size: 1rem;
    color: rgba(255, 255, 255, 1); 
}

#entry {
    background-color: #ffffff;
    box-shadow: 0px 5px 10px #cccccc;
    padding: 50px;
    margin: 0 -50px;
}